{% extends "admin/base.html" %}

{% block content %}
  <h2>yeye</h2>

    <form action="" method="post">
        <input name="username" type="text" class="form-control" placeholder="用户名" value="{{ name }}" autofocus>
        <input name="email" type="text" class="form-control" placeholder="邮箱" value="{{ email }}" autofocus>
        <input name="password" type="password" class="form-control" placeholder="密码">
        <input type="submit"  value="提交">
        <!--<button class="btn btn-lg btn-login btn-block" type= "button" name="submit" id="submit">注册</button>-->
    </form>




<!--{% endblock %}-->
<!--/*注冊表单提交*/-->
<!--function formDeal()-->
<!--{-->
<!--var btnSubmit = document.getElementById('submit');-->
<!--var formId = document.getElementById('registerForm');-->
<!--btnSubmit.onclick = function()-->
<!--{-->
<!--//表单的submit()方法不能提交表单-->
<!--formId.submit();-->
      <!--}-->

  <!--}-->